body {
	margin-top: 22px;
	margin-left: -20px;
	padding: 0;
	border: 0;
}

.border {
	z-index: -15;
	position: absolute;
	top: 0px;
	background-color: #F7DE27;
	left: 0px;
	width: 500px;
	height: 560px;
	border: 20px solid #DC4A01;
}

button {
	padding: 7px;
	font-weight: 600;
}

.buttons {
	margin: 20px 10px 20px 140px;
}

.score {
	margin-left: 72px;
	font-size: 31px;
}

.field {
	z-index: 30;            
	height: 23px;
	margin-left: 53px;
}
.cell {
	margin: 0;
	display: inline-block;
	background-color: #F7DE27;
	width: 22px;
	height: 22px;
	border: 1px solid #010;
	border-radius: 4px;
	z-index: 30;
	transition: background-color 0.3s;
}

.snake {
	background: #00490A;
	z-index: 30;
}

.food {
	background-color:#FF0000;
	z-index: 30;
}

